#  File Contoh Environment (.env.example)

# ==============================

#  KONFIGURASI APLIKASI DJANGO 

# ==============================

DEBUG=True
SECRET_KEY=isi-dengan-secret-key-anda

# ==============================

#  KONFIGURASI DATABASE (POSTGRESQL)

# ==============================

POSTGRES_DB=nama_database
POSTGRES_USER=user_database
POSTGRES_PASSWORD=password_database
POSTGRES_HOST=db
POSTGRES_PORT=5432
